<div class="push clearfix"></div>
<div class="footer clearfix">
  <div class="container">
    <ul>
      <li><h5>About</h5></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
    </ul>
    <ul>
      <li><h5>Tutorials</h5></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
    </ul>
    <ul>
      <li><h5>Guides</h5></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
    </ul>
    <ul>
      <li><h5>Contribute</h5></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
    </ul>
    <ul>
      <li><h5>OmniOS</h5></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
      <li><a href="#">foo bar baz</a></li>
    </ul>
  </div>
</div>
<div class="copyright clearfix">
  <div class="container">
    <p>
      Copyright &copy; 2014 OmniOS Community. All rights reserved.
    </p>
  </div>
</div>
